= simple_form_for(@program, html: { class: 'form-horizontal'}) do |f| 
	= f.input :data, label: "Date"
	= f.input :workout, label: "Ce exercitii ai facut?", input_html: { class: "form-control" }
	= f.input :mood, label: "Cum te simti?", input_html: { class: "form-control" }
	= f.input :length, label: "Cat timp ai facut exercitii?", input_html: { class: "form-control" }
	%br/
	= f.button :submit
